/*Meredith Woodward*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
#skip:focus {
    position: static;
    width: auto;
    height: auto;
}
/*mobile*/

:root {
    --yellow: #f6d64a;
    --teal: #55bcd5;
    --purple: #9b26b0;
    --blue: #499bd2;
    --dark-gray: #222222;
    --lt-gray: #eaeaea;
    --white: #ffffff;
    --black: #000000;
}

@import url('https://fonts.google.com/share?selection.family=Molle:ital@1%7CMontserrat');

h1, h2, h3 {
    font-family: 'Molle';
    font-weight: 400;
    font-style: italic;
}

h4, p, q, small, nav, button, span, form {
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
}

header {
    background-image: linear-gradient(var(--teal), var(--white));
}

#menu-toggle {
    background-color: var(--yellow);
    text-transform: uppercase;
    position: absolute;
    top: 20px;
    right: 0px;
    float: right;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    width: 210px;
    height: 50px;
    margin-top: 24px;
} /*need to figure out dropdown menu*/

.sr-only {
    visibility: hidden;
}

nav ul li {
    background-color: var(--teal);
    color: var(--black);
    font-weight: bold;
    text-decoration: none;
    border-color: var(--black);
}
h1 {
    color: var(--dark-gray);
    font-size: 50px;
    margin-left: 32px;
    margin-right: 32px;
}

main h2 {
    font-size: 40px;
    margin-left: 32px;
    margin-right: 32px;
}

p {
    font-size: 16px;
    margin-left:32px;
    margin-right: 32px;
    line-height: 30px;
}

header p {
    font-size: 20px;
    line-height: 30px;
}

#plan {
    background-color: var(--yellow);
}

#testimonials {
    background-color: var(--white);
    text-align: center;
}

#about {
    background-color: var(--blue);
}

#contact {
    background-color: var(--white);
}

footer {
    background-color: var(--lt-gray);
    text-align: center;
}

img {
    width: 100%;
    margin-top: 16px;
}

/*picture {
}*/   /*third picture needs to be same size and go off the screen*/

header img {
    width: 160.3px;
}

h3 {
    font-size: 40px;
    margin-left: 44px;
    margin-top: 18px;
}

h4 {
    font-size: 26px;
    font-weight: 600;
}

#plan div section {
    background-color: var(--teal);
   /*border: 3px var(--white);*/ /*why is there no border*/
    width: 358px;
    height: 302px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
    /*border-radius: 3;*/
}

section a img {
    width: 180px;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    margin-bottom: auto;
}

#testimonials div section img{
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
}

#testimonials div section h4, #testimonials div section p, #testimonials div section q {
   margin-left: 72px;
   margin-right: 60px;
   display: flex;
   justify-content: center;
   align-items: center;
}

#about div section {
    display: grid;
    /*Need to still make a side by side grid?*/
}

#about div section img {
    width: 100px;
    height: 100px;
}

#contact span {
    font-size: 20px;
    font-style: italic;
}

form {
    display:inline;
    /*margin-left: auto;
    margin-right: auto;*/
    text-align: center;
    /*trying to line it straight down*/
}

.required {
    color: var(--purple);
    font-size: 30px;
}
#names {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

#nums {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

#selects {
    font-size: 20px;
    font-weight: 600;
    text-transform:uppercase;
}

.radio-label {
    font-size: 20px;
    font-style: normal;
    text-transform: none;
}

.radio-input input {
    width: 75px;
    height: 75px;
    accent-color: var(--purple);
   /* margin-right: 310px;*/
}

form input {
    border-color: var(--purple);
    width: 354px;
    height: 65px;
}

.custom-select #destination, .custom-select #travelTime {
    border-color: var(--purple);
    width: 354px;
    height: 75px;
    /*should arrow be purple?*/
}

input[type=submit] {
    background-color: var(--purple);
    font-size: 20px;
    font-weight: 600;
    color: var(--white);
    text-transform: uppercase;
}

footer a {
    font-size: 16px;
    font-family: 'Montserrat';
}

@media screen and (min-width: 768px){
    /*Tablet*/
    h1 {
        text-align: center;
        
    }
    header img {
        width: 236px;
        height: 103px;
    }
    header p {
        margin-left: 230px;
    }
    #menu-toggle {
        visibility: hidden;
        text-transform: uppercase;
        position: static;
        top: auto;
        right: auto;
        float: right;
        text-align: center;
        font-size: 15px;
        font-weight: 600;
        width: 210px;
        height: 50px;
        margin-top: 0px;
        text-decoration: none;
    } 
    nav ul li {
        background-color: var(--white);
        font-weight: bold;
        visibility: visible;
        width: 140px;
        height: 50px;
        display: inline;
        float: left;
        align-items: center;
        }
    nav ul li a {
        display: block;
        padding: 8px;
        text-decoration: none;
        color: var(--black);
        align-items: center;


    }
    nav ul li:hover {
        background-color: var(--yellow);
    }
    img {
        width: 293px;
        margin-top: 16px;
        align-content: center;
    }
}